<!DOCTYPE html>
<html lang="en" ng-app="monitor">
    <head>
        <meta charset="UTF-8">
        <title>sharingan</title>
        <link rel="icon" href="/static/common/img/favicon.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="/static/common/img/favicon.ico" type="image/x-icon" />
        <link type="text/css" rel="stylesheet" href="/static/common/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="/static/common/css/todc-bootstrap/css/todc-bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="/static/common/css/sharingan.css">
        <!-- common js-->
        <script src="/static/common/js/angular/angular.min.js"></script>
        <script src="/static/common/js/angular/angular-route.min.js"></script>
        <script src="/static/common/js/jquery/jquery.min.js"></script>
        <script src="/static/common/js/bootstrap/bootstrap.min.js"></script>

        <!-- monitor js -->
        <script src="/static/monitor/index.js"></script>
        <script src="/static/monitor/controller.js"></script>
        <script src="/static/monitor/service.js"></script>
        <script src="/static/monitor/router.js"></script>
    </head>
    <body>
        <h1></h1>
        <div ng-view=""></div>
    </body>
</html>
